/* Your styles goes here. */

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #f8f4f4;
  text-align: center;
  margin: 128px auto;
  padding-top: 38px;
  border-radius: 28px;
  padding-bottom: 32px;
}

.group-input {
  padding: 14px 32px 14px 16px;
  border-radius: 12px 0px 12px 0px;
  justify-content: center;
  align-items: center;
  border: 2px solid #262538;
  outline: none;
  width: 280px;
  background: transparent;
  margin-right: 32px;
  margin-left: 8px;
  color: #262538;
}
